@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";
body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgb(33,37,41);
    font-family: 'Roboto', sans-serif;
    color: #c8c8c8;
}
html, body { height: 100%; }

