<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" routerLink="/backlog">Backlogify</a>
    <button
      class="navbar-toggler navbar-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/backlog"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            >My Backlog
          </a>
        </li>
        <li
          class="nav-item"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
        >
          <a class="nav-link" routerLink="/games">Top Games</a>
        </li>
        <li
          class="nav-item"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
        >
          <a class="nav-link" href="#">Platforms</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            href="#"
            >Genres</a
          >
        </li>
      </ul>
      <a
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler"
        class="nav-link"
        href="#"
        tabindex="-1"
        aria-disabled="true"
        (click)="logout()"
        >Log Out</a
      >
    </div>
    <form class="d-flex" [formGroup]="searchForm">
      <input
        type="text"
        class="form-control-sm me-2"
        placeholder="Search"
        aria-label="Search"
        formControlName="search"
        (change)="onSubmit()"
      />
    </form>
  </div>
</nav>