<div id="topLevel" class="container-fluid sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">My-App</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/backlog">Backlog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/games">Top Games</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              (click)="logout()"
              >Log Out</a
            >
          </li>
        </ul>
      </div>
      <form class="d-flex" [formGroup]="searchForm">
        <input
        type="text"
          class="form-control me-2"
          placeholder="Search"
          aria-label="Search"
          formControlName="search"
          (change)="onSubmit()"
        />
      </form>
    </div>
  </nav>
</div>
