<body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto"></header>

    <div id="buttonDiv"></div>
    <main class="px-3">
      <h1 class="hero">The Backlog</h1>
      <p class="lead">
        This is an IGDB integrated app that helps you keep a backlog and
        wishlist of all your favorite video games.
      </p>
      <div class="buttons">
        <a
          href="/signup"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >Sign Up</a
        >
        <a
          href="/login"
          class="btn btn-lg btn-secondary fw-bold border-white bg-white"
          >Login</a
        >
      </div>
      <div class="gbutton">
        <div>
          <asl-google-signin-button
            type="icon"
            size="large"
            width="200"
            shape="rectangular"
          ></asl-google-signin-button>
        </div>
      </div>
      <!-- <div id="g_id_onload"
  data-client_id="540271258342-88l1r5tkp7fh3sqjce93epkndui8ua99.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-callback="handleGoogleSignIn"
  data-auto_prompt="false">
</div>

<div class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="filled_blue"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left">
</div> -->
    </main>

    <footer class="mt-auto text-white-50">
      <a href="https://github.com/mvjarrett/games-backlog" class="text-white"
        >Github Repo</a
      >
    </footer>
  </div>
</body>
