<div class="detailPage container" *ngIf="igGames">
  <div class="row">
    <div class="cover col-sm-12">
      <img class="cover" src="{{ getGameCover(igGames) }}" />
      <div class="logButtons">
        <button [ngClass]="(wishStatus)?'btn-info' : 'btn-outline-primary'" (click)="wish()" type="button"
          class="btn btn-sm">
          Wishlist
        </button>
        <button [ngClass]="(playingStatus)?'btn-info' : 'btn-outline-primary'" (click)="playing()" type="button"
          class="btn btn-sm">
          Playing
        </button>
        <button [ngClass]="(playedStatus)?'btn-info' : 'btn-outline-primary'" (click)="played()" type="button"
          class="btn btn-sm">
          Played
        </button>
      </div>
    </div>
    <div class="content col">
      <div class="jumbotron">
        <h1 class="display-4">{{ igGames.name }}</h1>
        <hr class="my-4" />
      </div>
      <h4>Release date: {{ getTimeStamp(igGames) }}</h4>
      <p class="summary">{{ igGames.summary }}</p>
      <a href="{{ igGames.url }}">{{ igGames.url }}</a>
      <p>Rating: {{ igGames.rating }}</p>
      <div *ngIf="wishStatus">This game is on the wishlist!</div>
      <div *ngIf="playedStatus">You have played this game.</div>
      <div *ngIf="playingStatus">You're currently playing this game.</div>
      <h4>Platforms:</h4>
      <p *ngFor="let platform of igGames.platforms"><a href="/games/platforms/{{platform.id}}">{{ platform.name }}</a></p>
      <h4>Genres:</h4>
      <p *ngFor="let genre of igGames.genres"><a href="/games/genres/{{genre.id}}">{{ genre.name }}</a></p>
      <div class="screens">
        <a *ngFor="let screenshot of igGames.screenshots" (click)="openDialog(screenshot)">
          <img src="{{ screenshot.url }}" />
        </a>
      </div>
    </div>
  </div>
</div>
