<!-- <p>{{igGames.platforms.name}}</p> -->

<div class="detailPage" *ngIf="igGames">
  <div class="cover">
    <img class="cover" src="{{ getGameCover(igGames) }}" />
  </div>
  <div class="content">
    <h1 class="title">{{ igGames.name }}</h1>
    <p class="summary">{{ igGames.summary }}</p>
    <a href="{{ igGames.url }}">{{ igGames.url }}</a>
    <p>Rating: {{ igGames.rating }}</p>
    <p *ngFor="let platform of igGames.platforms">{{ platform.name }}</p>
    <div class="screens">
      <a *ngFor="let screenshot of igGames.screenshots" (click)="openDialog(screenshot)">
        <img src="{{ screenshot.url }}"/>
      </a>
    </div>
  </div>
</div>

<!-- <img
        *ngFor="let screenshot of igGames.screenshots"
        src="{{ screenshot.url }}"
      /> -->
