<div class="container categories">
  <div *ngIf="backlogItems">
    <mat-tab-group mat-stretch-tabs animationDuration="600ms">
      <mat-tab label="Wishlist">
        <div class="content">
          <div fxLayout="row wrap">
            <div
              fxFlex="20%"
              fxFlex.xs="33%"
              fxFlex.sm="33%"
              *ngFor="let wish of wish"
            >
              <app-igdb-game-card [game]="wish"></app-igdb-game-card>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Playing">
        <div class="content">
          <div fxLayout="row wrap">
            <div
              fxFlex="20%"
              fxFlex.xs="33%"
              fxFlex.sm="33%"
              *ngFor="let playing of playing"
            >
              <app-igdb-game-card [game]="playing"></app-igdb-game-card>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Played">
        <div class="content">
          <div fxLayout="row wrap">
            <div
              fxFlex="20%"
              fxFlex.xs="33%"
              fxFlex.sm="33%"
              *ngFor="let played of played"
            >
              <app-igdb-game-card [game]="played"></app-igdb-game-card>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- catch in case of no backlogged items -->

<div class="noItems" *ngIf="!backlogItems">
  <div class="row header"><h1 class="display-1">No Games Backlogged?</h1></div>
  <div class="row btnSection">
    <a class="button" routerLink="/games" class="btn btn-light"
      >Click here to find a game and add it to your backlog!</a
    >
  </div>
</div>
