:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* .radio-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .radio-container .mat-form-field {
    width: 220px;
  }
  
  .radio-container form {
    margin-bottom: 20px;
  }
  
  .radio-container form > * {
    margin: 5px 0;
  }
  
  .radio-container .mat-radio-button {
    margin: 0 15px;
  } */

  .mat-radio-button {
    margin-left: 20px;
  }