<!-- <mat-toolbar class="toolbar" color="primary">
<a href="/">My-App</a>

    <a id="backlog" href="/backlog">Backlog</a>
    <a id="games" href="/games">Top 50 Games</a>

</mat-toolbar> -->
<!-- <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <div>
      <h3 class="float-md-start mb-0">My-App</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Backlog</a>
        <a class="nav-link" href="#">Games List</a>
      </nav>
    </div> -->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My-App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/backlog">Backlog </a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="/games">Top 50 Games</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Log In</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
